[submodule "sshfs-static/Buildroot.cmake"]
	path = sshfs-static/Buildroot.cmake
	url = https://github.com/raumfeld/Buildroot.cmake.git
[submodule "sshfs-static/buildroot"]
	path = sshfs-static/buildroot
	url = https://github.com/bobrofon/buildroot.git
